* {
	font-family: JetBrainsMono, JetBrainsMonoNerd;
	font-weight: bold;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .6s;
	border-radius: 4px;
}

@define-color bg #212121;
@define-color fg #f9f9f9;
@define-color black #212121;
@define-color green #2BE491;
@define-color gr #303030;

#battery,
#custom-nemo {
  background: @black;
	color: @fg;
	padding: 0px 4px;
	margin: 4px 12px;
	border-radius: 4px;
}
#workspaces,
#workspaces button,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.empty {
	padding: 0px 4px;
	margin: 2px 8px 0px 8px;
  border-bottom: solid 2px;
	border-radius: 0px;
}
#workspaces {
	background-color: @black;
	margin: 4px 8px;
	border-radius: 4px;
}
#workspaces button {
	background-color: @black;
	color: @fg;	
	border-bottom: #23252e;
}
#workspaces button:hover {
	background-color: @black;
	color: @fg;	
	border-bottom: @fg;
}
#workspaces button.active {
	background-color: @black;
	color: @green;
}
#workspaces button.empty {
	color: @gr;
	border-bottom: #23252e;
}

#pulseaudio {
	background: @black;
	color: @fg;
	padding: 0px 4px;
	margin: 4px 12px;
}
#language {
	background: @black;
	color: @green;
	padding: 0px 4px;
	margin: 4px 12px;
	border-bottom: solid 2px @green;
	border-radius: 0px;
}
#clock {
	background: @black;
	color: @fg;
	padding: 0px 4px;
	margin: 4px 12px;
	border-radius: 0px 4px 4px 0px;
	font-size: 14px;
}
